@import "tailwindcss";

/* ::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #1c1f3a;
}

::-webkit-scrollbar-thumb {
  background: #6d28d9;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #7c3aed;
} */
